<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Resepti</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1 th:text="${annos.nimi}">Annoksen nimi</h1>
		<h3>Ainesosat lisäämisjärjestyksessä:</h3>	
        <ul>
            <li th:each="annosraakaaine: ${annosraakaaineettext}">
				<span th:text="${annosraakaaine}"></span>
            </li>
        </ul>
		<br/>
		<h3>Lisää reseptiin aineksia:</h3>
		<form method="post" action="/annos/:id">
			<span>Muokattava annos:</span><br/>
			<select name="annos_id">
				<option th:each="annos: ${annos}" th:value="${annos.id}" th:text="${annos.nimi}">
					raaka-aineet
				</option>
            </select><br/>
			<span>Valitse lisättävä raaka-aine:</span><br/>
			<select name="raakaaine_id">
				<option th:each="raakaaine: ${eiannoksessa}" th:value="${raakaaine.id}" th:text="${raakaaine.nimi}">
					raaka-aineet
				</option>
            </select><br/>
			<span>Määrä:</span><br/>
			<input type="number" name="maara"/><br/>
			<span>Ohje:</span><br/>
			<input type="text" name="ohje"/><br/>
			<br/>
			<input type="submit" value="Lisää!"/>
		</form>
		<br/>
		<h3>Poista raaka-aineita reseptistä:</h3>	
        <ul>
            <li th:each="annosraakaaine: ${annosraakaaineetlista}">
				<span th:text="${annosraakaaine.nimi}"></span>
				<a th:href="@{~/poistaAnnosRaakaAine/{id}(id=${annosraakaaine.id})}">
                    <span th:text="(Poista)">Poista</span>
                </a>
            </li>
        </ul>
		<br/>
		<h3>Linkit:</h3>
		<p><a href="/">Palaa etusivulle</a></p>
        <p><a href="/lisaaAnnos">Lisää uusi resepti</a></p>
        <p><a href="/raakaAineet">Tarkastele ja lisää raaka-aineita</a></p>
    </body>
</html>